body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image:url("/images/img\ 47.jpg")
}

.h1-custom{
    color:white;
}
.c-item {
    height: 360px
  }
  
.c-img {
    height: 100%;
    object-fit:cover;
  }
 .Product-div {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.Product-div-img{
   width:200px;
   height:300px;
   border:2px solid grey;
   border-radius: 13px;
   box-shadow:4px 7px 7px 0px black;
   cursor: pointer;
   margin: 10px;
   transition:400ms;
}
.Product-div-img:hover {
  filter:grayscale(1);
  transform:scale(1.03);
  
}

footer{
  background-color: #26282b;
}

.SocialMedia{
  background-color: #4E7A69;
}

.Copyright{
  background-color: #18191a;
  opacity: 80%;
}

.custom-hr {
  width: 60px;
  background-color: #4E7A69;
  height: 2px;
}

.title{
  text-transform:uppercase;
  font-weight: bold;
}

